<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body { font-size: 1.5rem; font-family: 'Roboto', sans-serif; }
    </style>
</head>
<body>
    <h2>Welcome to our Yelp Camp home page</h2>
</body>
</html>