<% layout('layouts/boilerplate') %>
<a href="/campgrounds">Back to Campgrounds</a>
<h3>Add a new campground to our Database:</h3>
<form action="/campgrounds" method="post">
    <input type="text" placeholder="Title..." name="campground[title]" required>
    <input type="text" placeholder="Location..." name="campground[location]" required>
    <input type="number" step="0.01" placeholder="Price" name="campground[price]" required>
    <button>Submit Data</button>
</form>