<% layout('layouts/boilerplate') %>
<a href="/campgrounds/add">+ Add a new one</a>
<h3>Here are our campgrounds:</h3>
<ul>
    <% for (let campground of campgrounds) { %>
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
    <% } %>
</ul>